# Normen / Unterlagen nicht auf GitHub
Unterlagen/

# Alte Dateien
xxx/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# PyInstaller
build/
dist/

# Zugangsdaten / KI API Keys
.env
*.env

# VS Code
.vscode/
